<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Task3.Properties.Settings.AdventureWorks2019ConnectionString"
            connectionString="Data Source=DESKTOP-QA6GTSO\SQLEXPRESS;Initial Catalog=AdventureWorks2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Task3.Properties.Settings.AdventureWorks2019ConnectionString1"
            connectionString="Data Source=DESKTOP-QA6GTSO\SQLEXPRESS;Initial Catalog=AdventureWorks2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>