<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Models.Properties.Settings.AdventureWorks2019ConnectionString"
            connectionString="Data Source=DESKTOP-SOSN1Q8;Initial Catalog=AdventureWorks2019;Persist Security Info=True;User ID=test;Password=test123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>